# Diretórios de Build
bin/
obj/

# Diretórios e Arquivos do Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos Temporários e de Sistema
*.tmp
*.log
.DS_Store
Thumbs.db
*.bak
*.swp

# Pacotes NuGet
*.nupkg
*.snupkg

# Arquivos de Configuração
appsettings*.json
secrets.json

# Docker
*.dockerignore
Dockerfile
docker-compose.yml

# Node.js
node_modules/
bower_components/
