# Diretórios de Build
bin/
obj/

# Diretórios e Arquivos do Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.db

# Diretórios e Arquivos do Visual Studio Code
.vscode/

# Arquivos Temporários e de Sistema
*.tmp
*.log
.DS_Store
Thumbs.db
*.bak
*.swp

# Pacotes NuGet
*.nupkg
*.snupkg

# Arquivos de Configuração
secrets.json
appsettings.Development.json
appsettings.Local.json

# Docker
*.dockerignore
Dockerfile
docker-compose.yml

# Node.js
node_modules/
bower_components/

# Arquivos de Dependência e Configuração
*.csproj.user
*.csproj.dir
*.csproj.vspscc
*.dbmdl
*.suo
*.vssscc

# Arquivos de Cache
*.cache
*.d
*.pdb

# Testes
coverage/
*.testresults
*.coverage

# Build de Front-end
public/
dist/

# Documentação Gerada
docs/
*.pdf
*.docx
*.doc

# Logs e Relatórios
logs/
reports/

# Arquivos de Editor
*.sublime-workspace
*.sublime-project
